.reference {
   padding: 50px 0 0 0;
   background: #fff;
   display: flex;
   flex-direction: column;
   position: relative;
   z-index: 5;
   &__title {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      padding: 0 0 60px 0;
      @media (max-width: 490px) {
         font-size: 24px;
         padding: 0 0 40px 0;
      }
   }
   &__imgBody {
      transition: 5s;
      position: relative;
   }
   &__img {
      position: relative;
      width: 100%;
      aspect-ratio: 5/2;
      &__effects {
         position: absolute;
         top: 0;
         z-index: 10;
      }
      &__effect1 {
         left: -2.8%;
         height: 100%;
         width: 28.5%;
         transform: skew(-8.2deg);
         background: #ffffff;
         transition: 0.7s;
         @media (max-width: 700px) {
            transform: skew(-6.2deg);
         }
         @media (max-width: 1500px) {
            left: -2.7%;
         }
         @media (max-width: 1200px) {
            width: 34.5%;
            left: -3.2%;
         }
      }
      &__active1 {
         height: 0%;
         width: 30.5%;
      }
      &__effect2 {
         left: 24.5%;
         height: 100%;
         width: 25.65%;
         transform: skew(-8deg);
         background: #ffffff;
         transition: 0.7s;
         @media (max-width: 1300px) {
            width: 25%;
         }
         @media (max-width: 1100px) {
            width: 25.4%;
            left: 24.8%;
         }
         @media (max-width: 1000px) {
            transform: skew(-7.2deg);
            left: 25.3%;
         }
      }
      &__active2 {
         height: 0%;
         left: 27.4%;
         @media (max-width: 1200px) {
            transform: skew(-7.3deg);
         }
         @media (max-width: 1100px) {
            transform: skew(-7deg);
         }
         @media (max-width: 1000px) {
         }
      }
      &__effect3 {
         left: 49.9%;
         height: 100%;
         width: 24.85%;
         transform: skew(-7.9deg);
         background: #ffffff;
         transition: 0.7s;
      }
      &__active3 {
         height: 0%;
         left: 52.1%;
         @media (max-width: 1300px) {
            left: 52.8%;
            width: 25.2%;
         }
      }
      &__effect4 {
         left: 74.3%;
         height: 100%;
         width: 29.95%;
         transform: skew(-7.6deg);
         background: #ffffff;
         transition: 0.7s;
      }
      &__active4 {
         height: 0%;
         left: 76.7%;
         @media (max-width: 1100px) {
            width: 36%;
            left: 76.5%;
            transform: skew(-1.5deg);
         }
      }
   }
}
