.achievments {
   height: 100vh;
   width: 100%;
   position: relative;
   &__img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   &__nav {
      font-size: 45px;
      font-weight: 700;
      color: white;
      position: absolute;
      left: 8vw;
      top: 25vh;
   }
   &__list {
      max-width: 22vw;
   }
   &__item {
      transform: translateX(-60%);
      opacity: 0;
      &__active {
         opacity: 1;
         transform: translateX(0%);
      }
      &:nth-child(1) {
         transition: 0.5s ease;
      }
      &:nth-child(2) {
         transition: 0.6s ease;
         transition-delay: 0.1s;
      }
      &:nth-child(3) {
         transition: 0.7s ease;
         transition-delay: 0.2s;
      }
      &:nth-child(4) {
         transition: 0.8s ease;
         transition-delay: 0.3s;
      }
   }
   &__item:not(:last-child) {
         margin: 0 0 43px 0;
   }
   &__main {
      font-size: 45px;
   }
   &__sub {
      font-size: 30px;
      margin: 5px 0 0 0;
   }
}