.vrf {
   &__videoContainer {
      position: fixed;
      left: 0;
      top: 0;
      height: 115vh;
      width: 100%;
      object-fit: cover;
   }
}
.VRFMain {
   padding: 10px 70px;
   margin: 175vh auto 0 auto;
   max-width: 1536px;
}
.imageTitle {
   display: grid;
   gap: 100px;
   grid-template-columns: 1fr 1fr;
   margin: 10vh 0 0 0;
}
.image__container {
   position: relative;
   width: 900px;
   height: 600px;
}
.title {
   display: flex;
   align-items: center;
   &__list {
      font-size: 30px;
      font-weight: 500;
   }
   &__item {
      &::before {
         content: "";
         display: inline-block;
         background-repeat: no-repeat;
         background-image: url(../../public/icons/check.svg);
         height: 30px;
         width: 30px;
         transform: translateY(4px);
         margin: 0 20px 0 0;
      }
      &:not(:last-child) {
         margin: 0 0 20px 0;
      }
   }
}

.effect {
   position: fixed;
   left: 0;
   top: 0;
   height: 100vh;
   width: 100%;
   background: #000;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 6;
   
   &__title {
      font-size: 35vh;
      font-weight: 600;
      color: #fff;
      transition: 0.2s;
   }
   &__bgTitle {
      font-size: 30vh;
      position: absolute;
      left: 5%;
      top: 25%;
      text-shadow: 3px 1px 0 #ffffff;
   }
}
.preview {
   &__titleContainer {
      font-size: 50px;
   }
   &__textLine {
      position: relative;
      line-height: 145%;
      color: #b4b4b4;
      z-index: 7;
   }
   &__textFiller {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0%;
      color: rgb(27, 27, 27);
      white-space: nowrap;
      z-index: 3;
      overflow: hidden;
      transition: 0.7s;
   }
}

@keyframes test {
   0% {
      width: 0%;
   }
   100% {
      width: 100%;
   }
}