.vrf {
   &__videoContainer {
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100%;
      object-fit: cover;
   }
}
.VRFMain {
   padding: 10px 70px;
}
.imageTitle {
   display: grid;
   gap: 100px;
   grid-template-columns: 1fr 1fr;
}
.image__container {
   position: relative;
   width: 900px;
   height: 600px;
}
.title {
   display: flex;
   align-items: center;
   &__list {
      font-size: 30px;
      font-weight: 500;
   }
   &__item {
      &::before {
         content: "";
         display: inline-block;
         background-repeat: no-repeat;
         background-image: url(../../public/icons/check.svg);
         height: 30px;
         width: 30px;
         transform: translateY(4px);
         margin: 0 20px 0 0;
      }
      &:not(:last-child) {
         margin: 0 0 20px 0;
      }
   }
}

.effect {
   position: fixed;
   left: 0;
   top: 0;
   height: 100vh;
   width: 100%;
   background: #000;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 10;
   
   &__title {
      font-size: 35vh;
      font-weight: 600;
      color: #fff;
   }
   &__bgTitle {
      font-size: 30vh;
      position: absolute;
      left: 5%;
      top: 25%;
      text-shadow: 3px 1px 0 #ffffff;
   }
}