.awards {
   max-width: 1580px;
   margin: 300px auto 0 auto;
   padding: 0 40px;
   &__title {
      text-align: center;
      font-size: 40px;
   }
   &__iconsBody {
      margin: 50px 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}