.container {
   max-width: 1556px;
   margin: 0 auto;
   padding: 0 10px;
}
.magboost {
   &__videoContainer {
      position: fixed;
      left: 0;
      top: 1600px;
      height: 115vh;
      width: 100%;
      object-fit: cover;
      z-index: 3;
      &__unactive {
         top: 0;
      }
   }
}
.image__container {
   position: relative;
   width: 800px;
   height: 500px;
   border-radius: 15px;
   overflow: hidden;
   transition: 1s;
   transform: scale(0.8);
   opacity: 0;
   &__active {
      transform: scale(1);
      opacity: 1;
   }
}
.title {
   display: flex;
   flex-direction: column;
   padding: 5vh 5px;
   &__mainTitleBody {
      flex: 1 1 auto;
      overflow: hidden;
   }
   &__mainTitle {
      font-size: 30px;
      line-height: 160%;
      font-weight: 600;
      transform: translateY(240%);
      transition: 1.3s ease-in-out;
      transition-delay: 0.4s;
      opacity: 0;
      &__active {
         transform: translateY(0%);
         opacity: 1;
      }
   }
   &__list {
      font-size: 30px;
      font-weight: 500;
      overflow: hidden;
   }
   &__description {
      margin: 0 0 0 1vw;
      border: 1px solid #000;
   }
   &__item {
      transform: translateX(-800%);
      opacity: 0;
      display: flex;
      &:not(:last-child) {
         margin: 0 0 20px 0;
      }
      &__el1 {
         transition: 0.6s;
      }
      &__el2 {
         transition: 0.7s;
         transition-delay: 0.1s;
      }
      &__el3 {
         transition: 0.8s;
         transition-delay: 0.2s;
      }
      &__el4 {
         transition: 0.9s;
         transition-delay: 0.3s;
      }
      &__active {
         transform: translateX(0%);
         opacity: 1;
      }
   }
}

.effect {
   position: fixed;
   left: 0;
   top: 0;
   height: 100vh;
   width: 100%;
   background: #000;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 11;

   &__magboostContainer {
      position: absolute;
      left: 0;
      top: 18%;
      width: 100%;
      height: 100%;
      max-height: 60%;
      object-fit: cover;
      transition: 0.2s;
      z-index: 2;
      @media (max-width: 1200px) {
         max-height: 50%;
      }
      @media (max-width: 1000px) {
         top: 27%;
      }
      @media (max-width: 750px) {
         max-height: 40%;
         top: 32%;
      }
      @media (max-width: 550px) {
         max-height: 30%;
         top: 35%;
      }
      @media (max-width: 390px) {
         max-height: 25%;
      }
   }
   &__bgTitle {
      font-size: 30vh;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 27%;
      width: 100%;
      text-align: center;
      text-shadow: 3px 1px 0 #ffffff;
      transition: 0.4;
      @media (max-width: 1500px) {
         font-size: 25vh;
      }
      @media (max-width: 1240px) {
         font-size: 20vh;
         top: 35%;
      }
      @media (max-width: 1000px) {
         font-size: 17vh;
         top: 45%;
      }
      @media (max-width: 850px) {
         font-size: 17vw;
      }
   }
}
.titles {
   margin: 2700px 0 0 0;
   padding: 121px 0 135px 0;
   background: #fafafa;
   &__mainBody {
      width: 100%;
      display: flex;
      justify-content: center;
   }
   &__main {
      color: #e6e6e6;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      line-height: 140%;
      max-width: 1000px;
   }
   &__elem {
      position: relative;
      overflow: hidden;
   }
   &__elemFiller {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      color: #333;
      white-space: nowrap;
      z-index: 3;
      transition: 0.5s;
      text-align: center;
      &:nth-child(2) {
         margin: 0 0 0 60px;
      }
   }
   &__cols {
      display: grid;
      gap: 90px 0;
      margin: 100px 0 0 0;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      opacity: 0;
      transform: translateY(200px);
      transition: 0.7s ease-in-out;
      &__active {
         opacity: 1;
         transform: translateY(0px);
      }
   }
   &__col {
      list-style: none;
      max-width: 400px;
      position: relative;
      &__title {
         font-size: 30px;
         font-weight: 700;
         position: relative;
         z-index: 2;
      }
      &__sub {
         font-size: 18px;
         line-height: 140%;
         margin: 10px 0 0 0;
         position: relative;
         z-index: 2;
         color: #828282;
      }
      &__num {
         position: absolute;
         left: -20px;
         top: -40px;
         font-size: 100px;
         color: #4dc1fd;
         font-weight: 700;
         z-index: 1;
         animation-name: glow;
         animation-duration: 5s;
         animation-iteration-count: infinite;
      }
   }
}
.bearing {
   margin: 120px 0 0 0;
   color: #333;
   display: grid;
   grid-template-rows: 1fr;
   justify-items: center;
   &__title {
      font-size: 32px;
      font-weight: 700;
   }
   &__body {
      background: #fafafa;
      max-width: 1139px;
      width: 100%;
      display: flex;
      gap: 60px;
      padding: 30px;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transform: translateY(200px);
      transition: 0.6s ease-in-out;
      &__active {
         opacity: 1;
         transform: translateY(0px);
      }
   }
   &__titlesBody {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
   &__evenBody {
      flex-direction: row-reverse;
   }
   &__list {
      margin: 0 0 0 24px;
   }
   &__item {
      display: flex;
      gap: 30px;
      align-items: center;
      font-size: 24px;
      position: relative;
      z-index: 3;
      color: #828282;
      font-weight: 300;
      line-height: 120%;
      &:not(:last-child) {
         margin: 0 0 20px 0;
      }
      &::before {
         content: "";
         height: 10px;
         width: 10px;
         border-radius: 50%;
         position: absolute;
         left: -23px;
         top: 8px;
         background: #828282;
         z-index: 2;
      }
   }
   &__imgBody {
      position: relative;
      width: 100%;
      max-width: 520px;
      aspect-ratio: 4.45/3;
   }
}
.efficiancy {
   margin: 120px 0 0 0;
   color: #333;
   font-size: 32px;
   font-weight: 700;
   &__title {
      text-align: center;
   }
   &__imgBody {
      position: relative;
      width: 100%;
      aspect-ratio: 5.8 / 2;
      margin: 50px 0 120px 0;
      border-radius: 12px;
      overflow: hidden;
   }
}
@keyframes glow {
   0% {
      color: #4dc1fd;
   }
   33% {
      color: #7700ff;
   }
   66% {
      color: #00ffae;
   }
   100% {
      color: #4dc1fd;
   }
}
