.header {
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.9) 100%);
   position: relative;
   z-index: 2;
}