.container {
   max-width: 1556px;
   margin: 0 auto;
   padding: 0 10px;
}
.magboost {
   animation-name: fade-in;
   animation-duration: 1.5s;
   &__videoContainer {
      position: fixed;
      left: 0;
      top: 1400px;
      min-height: 500px;
      height: 115vh;
      width: 100%;
      object-fit: cover;
      z-index: 3;
      @media (max-width: 800px) {
         top: 1500px;
      }
      @media (max-width: 700px) {
         top: 1700px;
      }
      @media (max-width: 500px) {
         top: 1900px;
      }
      &__unactive {
         top: 0;
      }
   }
}
.image__container {
   position: relative;
   width: 800px;
   height: 500px;
   border-radius: 15px;
   overflow: hidden;
   transition: 1s;
   transform: scale(0.8);
   opacity: 0;
   &__active {
      transform: scale(1);
      opacity: 1;
   }
}
.title {
   display: flex;
   flex-direction: column;
   padding: 5vh 5px;
   &__mainTitleBody {
      flex: 1 1 auto;
      overflow: hidden;
   }
   &__mainTitle {
      font-size: 30px;
      line-height: 160%;
      font-weight: 600;
      transform: translateY(240%);
      transition: 1.3s ease-in-out;
      transition-delay: 0.4s;
      opacity: 0;
      &__active {
         transform: translateY(0%);
         opacity: 1;
      }
   }
   &__list {
      font-size: 30px;
      font-weight: 500;
      overflow: hidden;
   }
   &__description {
      margin: 0 0 0 1vw;
      border: 1px solid #000;
   }
   &__item {
      transform: translateX(-800%);
      opacity: 0;
      display: flex;
      &:not(:last-child) {
         margin: 0 0 20px 0;
      }
      &__el1 {
         transition: 0.6s;
      }
      &__el2 {
         transition: 0.7s;
         transition-delay: 0.1s;
      }
      &__el3 {
         transition: 0.8s;
         transition-delay: 0.2s;
      }
      &__el4 {
         transition: 0.9s;
         transition-delay: 0.3s;
      }
      &__active {
         transform: translateX(0%);
         opacity: 1;
      }
   }
}

.effect {
   position: fixed;
   left: 0;
   top: 0;
   height: 100vh;
   width: 100%;
   background: #000;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 11;

   &__magboostContainer {
      position: absolute;
      left: 0;
      top: 18%;
      width: 100%;
      height: 100%;
      max-height: 60%;
      object-fit: cover;
      transition: 0.2s;
      z-index: 2;
      @media (max-width: 1200px) {
         max-height: 50%;
      }
      @media (max-width: 1000px) {
         top: 27%;
      }
      @media (max-width: 750px) {
         max-height: 40%;
         top: 32%;
      }
      @media (max-width: 550px) {
         max-height: 30%;
         top: 35%;
      }
      @media (max-width: 390px) {
         max-height: 25%;
      }
   }
   &__bgTitle {
      font-size: 30vh;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 27%;
      width: 100%;
      text-align: center;
      text-shadow: 3px 1px 0 #ffffff;
      transition: 0.4;
      @media (max-width: 1500px) {
         font-size: 25vh;
      }
      @media (max-width: 1240px) {
         font-size: 20vh;
         top: 35%;
      }
      @media (max-width: 1000px) {
         font-size: 17vh;
         top: 45%;
      }
      @media (max-width: 850px) {
         font-size: 17vw;
      }
   }
}
.titles {
   margin: 2500px 0 0 0;
   padding: 121px 0 135px 0;
   background: #fafafa;
   @media (max-width: 1200px) {
      margin: 2300px 0 0 0;
   }
   @media (max-width: 900px) {
      margin: 2200px 0 0 0;
   }
   @media (max-width: 800px) {
      margin: 2300px 0 0 0;
   }
   @media (max-width: 700px) {
      margin: 2500px 0 0 0;
   }
   @media (max-width: 640px) {
      margin: 2650px 0 0 0;
   }
   @media (max-width: 500px) {
      margin: 2850px 0 0 0;
   }
   @media (min-width: 2200px) {
      margin: 2800px 0 0 0;
   }
   @media (min-width: 2500px) {
      margin: 2900px 0 0 0;
   }
   @media (min-width: 2900px) {
      margin: 3500px 0 0 0;
   }
   @media (min-width: 3900px) {
      margin: 4600px 0 0 0;
   }
   @media (min-width: 5900px) {
      margin: 5700px 0 0 0;
   }
   &__mainBody {
      width: 100%;
      display: flex;
      justify-content: center;
   }
   &__main {
      color: #e6e6e6;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      line-height: 140%;
      @media (max-width: 1200px) {
         font-size: 28px;
      }
      @media (max-width: 1050px) {
         font-size: 24px;
      }
      @media (max-width: 440px) {
         font-size: 20px;
      }
      @media (max-width: 370px) {
         font-size: 17px;
      }
   }
   &__elem {
      position: relative;
      overflow: hidden;
   }
   &__elemFiller {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      color: #333;
      white-space: nowrap;
      z-index: 3;
      transition: 0.5s;
      text-align: center;
      &:nth-child(2) {
         margin: 0 0 0 60px;
      }
   }
   &__cols {
      display: grid;
      gap: 90px 0;
      margin: 100px 0 0 0;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      opacity: 0;
      transform: translateY(200px);
      transition: 0.7s ease-in-out;

      &__active {
         opacity: 1;
         transform: translateY(0px);
      }
      @media (max-width: 900px) {
         margin: 50px 0 0 0;
      }
   }
   &__col {
      list-style: none;
      max-width: 400px;
      position: relative;
      &__title {
         font-size: 30px;
         font-weight: 700;
         position: relative;
         z-index: 2;
      }
      &__sub {
         font-size: 18px;
         line-height: 140%;
         margin: 10px 0 0 0;
         position: relative;
         z-index: 2;
         color: #828282;
      }
      &__num {
         position: absolute;
         left: -20px;
         top: -40px;
         font-size: 100px;
         color: #4dc1fd;
         font-weight: 700;
         z-index: 1;
         animation-name: glow;
         animation-duration: 5s;
         animation-iteration-count: infinite;
      }
   }
}
.content {
   margin: 120px 0 0 0;
   color: #333;
   height: 450px;
   @media (max-width: 700px) {
      min-height: 450px;
      height: 100%;
   }
   &__title {
      font-size: 32px;
      font-weight: 700;
   }
   &__body {
      background: #fafafa;
      width: 100%;
      height: 100%;
      display: flex;
      gap: 60px;
      padding: 30px;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transform: translateY(200px);
      transition: 0.6s ease-in-out;
      &__active {
         opacity: 1;
         transform: translateY(0px);
      }
      @media (max-width: 900px) {
         gap: 30px;
      }
      @media (max-width: 700px) {
         flex-direction: column;
      }
   }
   &__titlesBody {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
   &__evenBody {
      flex-direction: row-reverse;
      @media (max-width: 700px) {
         flex-direction: column;
      }
   }
   &__list {
      margin: 60px 0 0 0;
      max-width: 589px;
   }
   &__item {
      display: flex;
      gap: 30px;
      align-items: center;
      font-size: 16px;
      position: relative;
      z-index: 3;
      color: #828282;
      font-weight: 300;
      line-height: 120%;
      &:not(:last-child) {
         margin: 0 0 20px 0;
      }
      @media (max-width: 900px) {
         font-size: 14px;
      }
   }
   &__imgBody {
      position: relative;
      width: 100%;
      max-width: 520px;
      aspect-ratio: 2.9/2;
   }
}
.cols {
   margin: 120px 0 0 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   &__title {
      color: #333;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      @media (max-width: 500px) {
         font-size: 24px;
      }
   }
   &__list {
      margin: 70px 0 0 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 30px 30px;
      @media (max-width: 750px) {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(3, 1fr);
      }
      @media (max-width: 500px) {
         margin: 40px 0 0 0;
      }
      @media (max-width: 480px) {
         grid-template-columns: 1fr;
         grid-template-rows: repeat(6, 1fr);
      }
   }
   &__item {
      background: #fafafa;
      padding: 40px 38px;
      max-width: 410px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: 0.7s;
      transform: translateY(100px);
      opacity: 0;
      @media (max-width: 480px) {
         opacity: 1;
         transform: translateY(0px);
      }
      @media (max-height: 450px) {
         opacity: 1;
         transform: translateY(0px);
      }
      &__title {
         font-size: 24px;
         font-weight: 700;
      }
      &__sub {
         color: #828282;
         font-size: 16px;
         margin: 10px 0 0 0;
      }
      &__active {
         opacity: 1;
         transform: translateY(0px);
      }
      &:nth-child(2) {
         transition-delay: 0.1s;
      }
      &:nth-child(3) {
         transition-delay: 0.2s;
      }
      &:nth-child(4) {
         transition-delay: 0.3s;
      }
      &:nth-child(5) {
         transition-delay: 0.4s;
      }
      &:last-child {
         transition-delay: 0.5s;
      }
   }
}
.temperature {
   margin: 120px 0 120px 0;
   &__title {
      color: #333;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      @media (max-width: 500px) {
         font-size: 24px;
      }
   }
   &__imgBody {
      margin: 70px 0 0 0;
      position: relative;
      width: 100%;
      aspect-ratio: 5/2;
   }
}
@keyframes glow {
   0% {
      color: #4dc1fd;
   }
   33% {
      color: #7700ff;
   }
   66% {
      color: #00ffae;
   }
   100% {
      color: #4dc1fd;
   }
}
@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
