
.innovation {
   margin: calc(100vh - 90px) 0 0 0;
   width: 100%;
   height: 100vh;
   position: relative;
   z-index: 3;
   &__title {
      text-align: center;
      font-size: 36px;
      font-weight: 700;
   }
   &__imgContainer1 {
      transform: translateY(0%);
      opacity: 1;
      transition: 0.8s;
      &__active {
         transform: translateX(-100%);
         opacity: 0;
      }
   }
   &__img {
      transition: 0.8s;
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      animation-name: smoothAppearance2;
      animation-duration: 0.8s;
      &__active {
         transform: scale(4);
         opacity: 0;
         z-index: 6;
      }
   }
   &__img2 {
      z-index: 6;
      transform: translateY(-100vh);
   }
   &__imgContainer2 {
      position: absolute !important;
      top: -40%;
      left: 13%;
      width: 70%;
      height: 800px !important;
      &__active {
         position: fixed !important;
         width: 70%;
         height: 800px !important;
         top: -20%;
         left: 13%;
      }
      &__unactive {
         transition: 0.4s;
         opacity: 0;
      }
   }
   &__nav {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      height: 100%;
      width: 100vw;
   }
   &__list {
      display: flex;
      justify-content: space-around;
      height: 100%;
      width: 100%;
      align-items: center;
      color: #494949;
      font-weight: 700;
   }
   
   &__item1 {
      transform: translateX(-40vw);
   }
   &__item2 {
      transform: translateX(40vw);
      
   }
   &__item {
      opacity: 1;
      transition: 0.5s;
      &__active {
         transform: translateX(0vw);
         opacity: 1;
      }
   }
   
   &__titleBlock {
      max-width: 470px;
      &:not(:last-child) {
         margin: 0 0 35px 0;
      }
   }
   &__titleElem {
      font-size: 60px;
   }
   &__subElem {
      font-size: 30px;
   }
   &__imges {
      height: 400px;
      position: relative;
   }
   &__contentBody {
      margin: 50px 0 0 0;
      padding: 0 50px;
      display: flex;
      justify-content: flex-end;
   }
   &__sideTitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: 0.8s;
      &__active {
         transform: translateX(100%);
         opacity: 0;
      }
      &__item:not(:last-child) {
         margin: 0 0 30px 0;
      }
      &__title {
         font-size: 30px;
         font-weight: 600;
      }
      &__subtitle {
         margin: 10px 0 0 0;
      }
   }
}
.textLine {
   width: 100%;
   transition: 0.8s;
   font-size: 25px;
   white-space: nowrap;
   overflow: hidden;
   font-weight: 500;
   line-height: 150%;
   &:not(:last-child) {
      margin:  1.5vh 0 0 0;
   }
   &:nth-child(5) {
      margin: 5vh 0 0 0;
   }
}
.trigger {
   position: relative;
   margin: 145vh 0 0 0;
   z-index: 20;
   height: 1vh;
   width: 100vw;
   visibility: hidden;
}
@keyframes smoothAppearance {
   0% {
      opacity: 0;
      transform: scale(2);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}
@keyframes smoothAppearance2 {
   0% {
      opacity: 0;
      transform: scale(0.6);
   }
   30% {
      opacity: 0;
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}


@keyframes leftToRight {
   0% {
      transform: translateX(-50%);
      opacity: 0;
   }
   100% {
      transform: translateX(0%);
      opacity: 1;
   }
}
@keyframes rightToLeft {
   0% {
      transform: translateX(100%);
      opacity: 0;
   }
   100% {
      transform: translateX(0%);
      opacity: 1;
   }
}

@keyframes changeColor {
   0% {
      color: rgb(0, 0, 0);
      opacity: 1;
   }
   100% {
      color: rgb(192, 192, 192);
      opacity: 0.7;
   }
}

