@import url(../font.css);

.innovation {
   margin: 100px 0 0 0;
   display: flex;
   flex-direction: column;
   position: relative;
   z-index: 3;
   &__title {
      text-align: center;
      font-size: 36px;
      font-weight: 700;
   }
   &__imgContainer1 {
      transform: translateY(0%);
      opacity: 1;
      transition: 0.8s;
      &__active {
         transform: translateX(-100%);
         opacity: 0;
      }
   }
   &__imgContainer2 {
      position: absolute !important;
      top: 80px;
      left: 34%;
      width: 30%;
      height: 400px;
      &__active {
         position: fixed !important;
         width: 30%;
         height: 400px;
         top: 0;
         left: 34%;
      }
      &__unactive {
         transition: 0.4s;
         opacity: 0;
      }
   }
   &__imges {
      height: 400px;
      position: relative;
   }
   &__contentBody {
      margin: 50px 0 0 0;
      padding: 0 25px;
      display: grid;
      justify-content: space-between;
      grid-template-rows: 1fr;
      grid-template-columns: 30% 30%;
   }
   &__sideTitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: 0.8s;
      &__active {
         transform: translateX(100%);
         opacity: 0;
      }
      &__item:not(:last-child) {
         margin: 0 0 30px 0;
      }
      &__title {
         font-size: 30px;
         font-weight: 600;
      }
      &__subtitle {
         margin: 10px 0 0 0;
      }
   }
}
.fakeBlock {
   margin: 500px 0 0 0;
   text-align: center;
   height: 50px;
   visibility: hidden;
}
.fakeBlock2 {
   margin: 160px 0 0 0;
   text-align: center;
   height: 50px;
   font-family: 'Everett-Light';
   font-weight: 700;
   font-size: 30px;
   visibility: hidden;
}
.titles {
   position: fixed;
   left: 30%;
   top: 43%;
   flex-direction: column;
   max-width: 40%;
   &__unactive {
      transition: 0.4s;
      opacity: 0;
   }
}
.titleBody {
   transition: 0.8s;
   width: 100%;
   @media(max-width: 1850px) {
      top: 48%;
   }
   &:first-child {
      animation-name: leftToRight;
      animation-duration: 0.8s;
   }
   &:not(:first-child) {
      margin: 30px 0 0 0;
   }
   &__title {
      line-height: 190%;
      font-size: 25px;
      @media(max-width: 1850px) {
         font-size: 20px;
      }
   }
}
.arrows {
   position: fixed;
   left: 0;
   top: 50%;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-around;
   &__body {
      width: 10%;
      &:last-child {
         margin: 0 0 0 10%;
      }
   }
   &__arrow {
   width: 5vw;
   height: 5vw;
   border: 1.3vw solid;
   border-color: black transparent transparent black !important;
   transform: rotate(-135deg);
   }
   &__sliding {
      position: absolute;
      -webkit-animation: slide 4s linear infinite; 
      animation: slide 4s linear infinite;
   }
   &__delay1 {
      -webkit-animation-delay: 1s; 
      animation-delay: 1s;
   }
   &__delay2 {
      -webkit-animation-delay: 2s; 
      animation-delay: 2s;
   }
   &__delay3 {
      -webkit-animation-delay: 3s; 
      animation-delay: 3s;
   }
   &__unactive {
      transition: 0.4s;
      opacity: 0;
   }
}

@keyframes slide {
   0% { opacity:0; transform: translateY(-15vw); }	
  20% { opacity:1; transform: translateY(-9vw); }	
  80% { opacity:1; transform: translateY(9vw); }	
 100% { opacity:0; transform: translateY(15vw); }	
}

@keyframes neonGlow {
   0% {
      filter: drop-shadow(0px 1px 1px rgb(0, 0, 0))
   drop-shadow(0px 1px 1px rgb(0, 0, 0))
   drop-shadow(0px 4px 10px rgb(0, 0, 0));
   color: rgb(0, 0, 0);
   }
   33% {
      filter: drop-shadow(0px 1px 1px rgb(255, 255, 255))
      drop-shadow(0px 1px 1px rgb(255, 255, 255))
      drop-shadow(0px 4px 10px rgb(255, 255, 255));
      color: rgb(158, 158, 158);
   }
   66% {
      filter: drop-shadow(0px 1px 1px rgb(0, 0, 0))
      drop-shadow(0px 1px 1px rgb(0, 0, 0))
      drop-shadow(0px 4px 10px rgb(0, 0, 0));
      color: rgb(0, 0, 0);
   }
   100% {
      filter: drop-shadow(0px 1px 1px rgb(255, 255, 255))
      drop-shadow(0px 1px 1px rgb(255, 255, 255))
      drop-shadow(0px 4px 10px rgb(255, 255, 255));
      color: rgb(255, 255, 255);
   }
}

@keyframes leftToRight {
   0% {
      transform: translateX(-50%);
      opacity: 0;
   }
   100% {
      transform: translateX(0%);
      opacity: 1;
   }
}
@keyframes rightToLeft {
   0% {
      transform: translateX(100%);
      opacity: 0;
   }
   100% {
      transform: translateX(0%);
      opacity: 1;
   }
}

@keyframes changeColor {
   0% {
      color: rgb(0, 0, 0);
      opacity: 1;
   }
   100% {
      color: rgb(192, 192, 192);
      opacity: 0.7;
   }
}

@keyframes smoothAppearance {
   0% {
      top: 0;
   }
   100% {
      top: 50%;
   }
}
