.innovation {
   height: 100vh;
   width: 100%;
   color: #494949;
   position: relative;
   &__img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   &__title {
      position: absolute;
      left: 0;
      top: 8vh;
      width: 100%;
      text-align: center;
      font-size: 55px;
      opacity: 0;
      transform: scale(0.5);
      &__active {
         opacity: 1;
         transition: 0.9s;
         transform: scale(1);
      }
   }
   &__nav {
      position: absolute;
      bottom: 20vh;
      width: 100%;
   }
   &__item {
      display: flex;
      justify-content: space-between;
      margin: 0 100px 0 150px;
      transition: 2s ease-in-out;
      opacity: 0;
      &__active {
         opacity: 1;
      }
   }
   &__titleBlock {
      max-width: 400px;
      width: 100%;
      margin: 30px 0 0 0;
   }
   &__titleElem {
      font-size: 60px;
      
   }
   &__subElem {
      font-size: 35px;
   }
}