.footer {
   height: 40vh;
   width: 100%;
   background: #000;
   color: #fff;
   line-height: 150%;
   font-weight: 300;
   position: relative;
   z-index: 10;
   font-family: --font-Didact_Gothic;
   @media(max-width: 900px) {
      height: 500px;
   }
   @media(max-height: 600px) {
      height: 500px;
   }
   @media(max-width: 473px) {
      font-size: 12px;
   }
   &__container {
      max-width: 1556px;
      margin: 0 auto;
      justify-content: space-between;
      display: flex;
      align-items: center;
      height: 100%;
      gap: 40px;
      padding: 0 10px;
      @media(max-width: 950px) {
         gap: 20px;
      }
      @media(max-width: 860px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
         grid-template-areas: 
         'l a'
         'p o';
      }
   }
   &__logo {
      max-width: 400px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      grid-area: 'l';
      &__logo {
         width: 42%;
         height: 15%;
         position: relative;
         @media(max-width: 860px) {
            width: 150px;
            height: 50px;
         }
      }
   }
   &__address {
      grid-area: 'a';
   }
   &__phones {
      white-space: nowrap;
      grid-area: 'p';
      @media(max-width: 860px) {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
   &__other {
      grid-area: 'o';
   }
}